 .card-img-top{
 	width: 100%;

 }
 .card-body{
	margin-left: 50px; 
	text-align: center;
}
 #img{
	padding: 5px 15%;
	width: 200px;
	height: 150px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	border-radius: 2px;
 }
 #art{
 	padding-top:20px;
 	padding-bottom: 20px;
 }