#j4{
	padding: 5px 15%;
	width: 300px;
	height: 200px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 10px;
	border-radius: 2px;

}
.card-body{
	margin-left: 50px; 
}
.card-img-top{
	width: 100%;
	height: 400px;
}
