body{
	background-image:url(../imgs/fondo3.jpg); 
	background-position: center center; 
	background-repeat:no-repeat;
	 /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando  la altura del
	  contenido supere la altura de la imagen. */
	background-attachment: fixed;
     /*reescalar cuando se cambia el ancho de ventana
     del navegador */
    background-size: cover;
    /*fondo de respaldo*/
    background-color: #464646;

}
footer{
	margin-top: 100px;
	 box-shadow: 0px 0px 10px #000;
	 padding-top: 15px;
    padding-bottom: 15px;
}
section{
    margin-bottom: auto;
}

header{
    text-align: center;
}

header h1{
    padding-right: 100px;
    padding-left: 100px;
    padding-top: 30px;
    font-size: 60px;
    padding-bottom: 10px;
}
